body {
    
    margin: 0px;
    padding: 0px;
    font-family: 'Reggae One', cursive;
    background: linear-gradient(180deg, rgb(104, 3, 3) 0%, rgb(180, 10, 10) 35%, rgba(255, 3, 3, 0.822) 50%, rgb(143, 9, 9) 100%);
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcDzeytbx12ex3tmRIUs6dKsTd_1qeLZ9aXw&usqp=CAU"); */
    background-size: cover;
    /* background: url('https://static.tumblr.com/94eb957a00fd03c0c2f7d26decd71578/u1rhacw/osAmyyh1q/tumblr_static_tumblr_static_gaussian_blur_gradient_desktop_1680x943_wallpaper-393751.jpg'); */
    font-weight: 300;

    

}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.settings {

    height: 23px;
    float: left;
    background: url(https://s3.postimg.org/bqfooag4z/startific.jpg);
    background-repeat: no-repeat;
    width: 250px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'Strait', sans-serif;

}

/*------------------------------------------------------------------ ScrolBar-----------------------------------------------------------------------  */
.scrollbar {

    height: 90%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.scrollbar:hover {

    height: 90%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*------------------------------------------------------------------ Scrollbar Style ------------------------------------------------------------------*/



#style-1::-webkit-scrollbar-track {
    border-radius: 2px;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: #BFBFBF;
}

/*------------------------------------------------------------------ Scrollbar End------------------------------------------------------------------ */

.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: hidden;
    opacity: 1;
    opacity: 80%;

}

.main-menu {
    background: #F7F7F7;
    top: 0;
    bottom: 0;
    height: 30%;
    left: 0;
    width: 55px;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 80%;
    border-radius: 5px;
}

.main-menu>ul {
    margin: 7px 0;

}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;



}

.main-menu li>a {
    position: relative;
    width: 255px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #8a8a8a;
    font-size: 13px;
    text-decoration: none;

    -webkit-transition: all .14s linear;
    transition: all .14s linear;
    font-family: 'Strait', sans-serif;
    border-top: 1px solid #f2f2f2;

    text-shadow: 1px 1px 1px #fff;
}

.main-menu .nav-icon {

    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;

}

.main-menu .nav-text {

    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}


.main-menu .fb-like {

    left: 180px;
    position: absolute;
    top: 15px;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;

}

.no-touch .scrollable.hover {
    overflow-y: hidden;

}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;

}

/*------------------------------------------------------------------ Logo Hover Property ------------------------------------------------------------------*/

.settings:hover,
settings:focus {
    background: url(https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
    -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
}

.settings:active,
settings:focus {
    background: url(https://s3.postimg.org/bqfooag4z/startific.jpg);
    -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
    -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
    -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
    transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
}

a:hover,
a:focus {
    text-decoration: none;
    border-left: 0px solid #F7F7F7;

}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

/*------------------------------------------------------------------ Darker element side menu Start------------------------------------------------------------------*/


.darkerli {
    background-color: #ededed;
    text-transform: capitalize;
}

.darkerlishadow {
    background-color: #ededed;
    text-transform: capitalize;
    -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}

.darkerlishadowdown {
    background-color: #ededed;
    text-transform: capitalize;
    -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/*------------------------------------------------------------------ Darker element side menu End------------------------------------------------------------------*/

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #f92c2c;
    text-shadow: 0px 0px 0px;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.material-icons {
    position: relative;
    width: 55px;
    height: 36px;
    text-align: center;
    top: 12px;
    font-size: 20px;
}

.navbar{
    width: 9em;
}

@media screen and (max-width: 650px){
    .main-menu{
        display: none
    }
}

/* -----------------------------------------------------------------------↑↑↑ Menu défiant ↑↑↑----------------------------------------------------------------------------------------------------------------------- */

header {
    color: white;
}



.circle {
  display: inline;
  margin: 0 auto;
  border-radius: 50%;
  height: 16em;
  width: auto;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

html{
    scroll-behavior: smooth;
}

.bubbleHome{
    background-color: rgb(107, 106, 106);
    width: 30em;
    height: 20em;
    border-radius: 10%;
    color: white;
    box-shadow: 1em 1em 1em black;
}



.fondlogo{
    background-color: black;
    margin: 1em;
    /* margin-left: 8em; */
    padding-right: 5em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 3em;
    display: flex;
    justify-content: space-around;
    
}

@media screen and (max-width: 767px){
    .containerSkill{
        display: flex;
        flex-wrap: wrap;
    }

}

.card-size{
    width: 18em;
    justify-content: center;

}

li{
    list-style: none;
}

li a:hover{
    color: white;
}

li a{
    text-decoration: none;
    color: inherit;
}

